.p-header {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: url("../images/bg.jpg");
    background-position: right;
    background-size: cover;
}

.p-subtitle {
    font-size: 4em;
}

.p-title {
    font-size: 12em;
}

.p-course-detail {
    margin-top: 40px;
}

.p-contact {
    margin-top: 40px;
}

.p-syllabus {
    margin-top: 40px;
    margin-bottom: 200px;
}

@media only screen and (max-width: 720px) {
    .p-subtitle {
        font-size: 2em;
    }

    .p-title {
        font-size: 7em;
    }
}